body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
}

.icons{
    height: 18px;
    width: 18px;
}

header, section, footer{
    padding: 0 5%;
}
header{
    padding-top: 1px;
}
.hero_background{
    background-image: url(../imgs/background/background.jpg);
    background-size: cover;
}

a{
    text-decoration: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
    
    .header_contact_socials{
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }
    
    .header_contacts{
        display: flex;
        width: 85%; 
        gap: 25px;
    }
    
    .contact_container{
        display: flex;
        align-items: center; 
        color: #ffffff;
        font-size: 16px;
        gap: 10px;
    }
    
    .header_socials{
        list-style: none;
        margin: 0;
        display: flex;
        gap: 15px;
        justify-content: right; 
        width: 15%;
    }
    
    .navbar{
        background-color: #ffffff;
        width: 100%;
        display: flex;
        margin-top: 30px;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        gap: 10px;
    }
    
    .navbar_list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0 1%;
        width: 100%;
    }
    
    .left_list{
        justify-content: flex-start;
    }
    
    .rigth_list{
        justify-content: flex-end;
    }
    
    .logo_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: white;
        padding: 25px 10px;
        box-shadow: 0px 1px 10px 0px #0000001A;
        border-radius: 5px;
    
    }
    
    .logo{
        width: 90%;
        height: 20%;
    }
    
    .download_button{
        background-color: #5956E9;
        border: 1px solid #5956E9;
        border-radius: 6px;
        color: #ffffff;
        width: 100%;
        height: 34px;
        font-size: 10px;
    }
    
    .header_contact_socials{
        display: none;
    }

    nav ul li a{
        display: none;
    }
    
    .hero_section{
        display: flex; 
        flex-direction: column; 
        gap: 30px; 
        margin-top: 22px;
        justify-content: center;
        align-items: center;
    }

    .hero_section_content{
        background-color: #ffffff;
        width: 100%;
    }

    .hero_section_title{
        font-size: 25px;
        font-weight: 600;
        color: #5956E9;
        line-height: 37px;
        padding: 0 5%;
    }
    .hero_section_p{
        color: #6C6C72;
        font-size: 16px;
        line-height: 24px;
        padding: 0 5%;
    }
    .hero_section_download_span{
        color: #232233;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        padding: 0 5%;
    }
    .hero_section_download_links{
        display: flex;
        gap: 10px;
        padding: 15px 5%;
    }
    .hero_section_image{
        width: 85%;
        margin-bottom: 50px;
    }
}